$text-color: #292929; 
$link-color: #fff; 
$background-color:#323232;
$newLink-color: #393939; 
html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo1 {
    width: fit-content;
    display: flow;
    margin: auto;
    img{
    width: 10rem;
    height: auto;
    }
}
nav{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $background-color;
        li{
            float: left;
            color:white;
        }
        li h1{
            margin-block: 0rem 1rem;
            margin-bottom: 0rem;

        }
        li a{
            display: block;
            color: white;
            text-align: center;
            padding: 0.875rem 1rem;
            text-decoration: none;
        }
        li a:hover{
            background-color: #262626;
            color:white; 
            text-decoration: none;
        }
    }
    .active{
        background-color: darkgrey;
        a.active a:hover{
            background-color: darkgrey;
            color:white; 
            text-decoration: none;
        }
    }
}

header{
    width: 100%;
    padding: 0rem -1rem;
    background-color: white;
    z-index: 1;
}
footer {
    background-color: #000;
    width: 100%;
    overflow: hidden;
    display: flex;
}
span{
    display: inline-block;
    color: white;
    margin: auto;
}
.blackBar{
    background-color: #000;
    width: 100%;
    height: 1rem;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}
.sticky + body {
    padding-top: 102px;
}
.title{
    visibility: hidden;
}
.catering{
    flex: 200px;
    background-color: aqua;
    img{
        float: left;
        width: inherit;
        filter: brightness(40%);
    }
}
.food {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.desc{
    position: absolute;
    background-color: #fff;
    width: 100%;
    // bottom: -100vh;
    top: 50vh;
    text-align: center;
    overflow: hidden;
} 
.spacer {
    width: 100%;
    height: 35%;
}
.examples{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    img {
       width: 50vw;
       height: auto;
    } 
}
.options{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: center;
    div{
        border-radius: 1rem;
        margin: 1rem;
        box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: .1), 0 3px 10px 0 rgba($color: #000000, $alpha: .08);
        img {
            width: 20rem;
            height: auto;
            padding: 1rem;
        }
        h3 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 700;
            font-size: xx-large;
        }
        a:link {
            text-decoration: none;
            color: $newLink-color;
        }
          
        a:visited {
            text-decoration: none;
            color: $newLink-color ;
        }
          
        a:hover {
            text-decoration: none;
            color: $newLink-color; 
        }
          
        a:active {
            text-decoration: none;
            color: $newLink-color;
        }
    }
}
div.grilled{
    box-shadow:  0 2px 4px 0 rgba($color: #000000, $alpha: .05), 0 3px 10px 0 rgba($color: #000000, $alpha: .04);;
}
.menu {
    text-align: left;
    margin-left: 3rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: #323232;
    a:link {
        text-decoration: none;
        color: $newLink-color;
    }
      
    a:visited {
        text-decoration: none;
        color: $newLink-color;
    }
      
    a:hover {
        text-decoration: none;
        color: $newLink-color; 
    }
      
    a:active {
        text-decoration: none;
        color: $newLink-color;
    }
}
h3.menu{
    text-align: center;
    font-size: xx-large;
}
.eventsDesc{
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    div{
        flex: .375rem;
        -ms-flex-align: center;
        text-align: left;
        padding-left: 5rem;
    }
}
.button{
    margin-bottom: 1rem;
    background-color: white;
    color: $text-color;
    border: 2px solid #262626;
    font-size: medium;
    border-radius: .275rem;
    transition-duration: .4s;
    padding: .5rem;
    a:link {
        text-decoration: none;
        color:$newLink-color;
    }
      
    a:visited {
        text-decoration: none;
        color:$newLink-color;
    } 
    a:hover {
        text-decoration: none;
        color: white; 
    }
      
    a:active {
        text-decoration: none;
        color: white;
    }
}
.button:hover{
    background-color: #000;
    color: white;
}
.about{
    margin: 2rem 6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 400;
}
.itemHolder{
    width: 50%;
    height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 2rem auto;
    background-color: white;
    display: flex;
    flex-direction: column;
        p{
            flex:20px
            
        }
       p::first-letter{
            display: block;
            text-transform: capitalize;
        }
        button {
            margin-bottom: 1rem;
        background-color: white;
        color: $text-color;
        border: 2px solid #262626;
        font-size: medium;
        border-radius: .275rem;
        transition-duration: .4s;
        padding: .5rem;
        :hover{
            background-color: #000;
            color: white;
        }
        }
}
.cartLabel{
    width: 50%;
    margin:auto;
    border-bottom: 2px solid #000;
    background-color: #fff;
}

.checkout{
float: right;
margin-right: 2rem;
}
.checkoutBox{
    display: flex;
    flex-direction: row;
        input{
            flex: 1rem;
            margin-left: 1rem;
        }
    width: 75%;
    margin: auto;
    padding: 1rem;
    label{
        margin-left: 1rem;
    }
}
.cardSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    p{
        margin-right: 50rem;
    }
    select{
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba($color: #000000, $alpha: .1);
        font-size: 16px;
        width: 50%;
        box-sizing: border-box;
        appearance: none;
        
    }
}
.subtotal{
    text-align: center;
    margin: 1rem;
}
.check{
    margin-left:15rem;
}
.blur {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
a:link {
    text-decoration: none;
    color: $link-color;
}
  
a:visited {
    text-decoration: none;
    color: $link-color;
}
  
a:hover {
    text-decoration: underline;
    color: $link-color; 
}
  
a:active {
    text-decoration: underline;
    color: $link-color;
}